<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ManShoes</title>
  <link rel="icon" href="/images/logo.jpg">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href="/" class="nav-link">Home</a>
              </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
              <img src="/images/logo.jpg" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
              <span class="brand-text font-weight-light">ManShoes</span>
            </a>
        
            <!-- Sidebar -->
            <div class="sidebar">
              <!-- Sidebar user (optional) -->
              <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <!--<div class="image">
                  <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>-->
                <div class="info">
                  <a href="/" class="d-block">Sujay</a>
                </div>
              </div>

        
              <!-- Sidebar Menu -->
              <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <!-- Add icons to the links using the .nav-icon class
                       with font-awesome or any other icon font library -->
                  
                  <li class="nav-item">
                    <a href="/create" class="nav-link">
                      <i class="nav-icon far fa-circle text-danger"></i>
                      <p class="text">Add Data</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/sales" class="nav-link">
                      <i class="nav-icon far fa-circle text-warning"></i>
                      <p>Sales Details</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/salesd" class="nav-link">
                      <i class="nav-icon far fa-circle text-info"></i>
                      <p>Update Sales</p>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <h1>Update Data</h1>
                  </div>
                  <div class="col-sm-4">

                  </div>
                  <div class="col-sm-4">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active">Update Data</li>
                    </ol>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </section>
        
            <!-- Main content -->
            <section class="content">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Ladies Footware</h3>
                        <div class="card-tools">
                          
                        </div>
                      </div> 
                      <div>
                      <% for(var i=0;i<data.ShoeMart.length;i++) { %>
                        <% var xx=data.ShoeMart[i].pid;
                           var x =xx.toString()%>
                        <% var y=data.pid %>
                        <% if(xx==y) {%>
                            <div class="card-body">
                              <div class="form-group">
                                <label>Product Id</label>&nbsp;&nbsp;&nbsp; <label>:</label> &nbsp;
                                <%= data.ShoeMart[i].pid %><br><br>
                                <label>Product Category</label>&nbsp;&nbsp;&nbsp; <label>:</label> &nbsp;
                                <%= data.ShoeMart[i].pcat %><br><br>
                                <label>Product Name</label>&nbsp;&nbsp;&nbsp; <label>:</label> &nbsp;
                                <%=data.ShoeMart[i].pname %><br><br>
                                
                                <label>Old Quantity</label>&nbsp;&nbsp;&nbsp; <label>:</label> &nbsp;
                                <%=data.ShoeMart[i].pquantity %><br><br>
                                <form action="editupdate" method="post">
                                    <input type="hidden" name="pid" value=<%=data.ShoeMart[i].pid %>>
                                    <label>New Quantity</label>&nbsp;&nbsp;&nbsp; <label>:</label> &nbsp;
                                    <input type="text" palceholder="Quantity" name="pquantity" value=0 ><br><br>
                                    <label>Old Price</label>&nbsp;&nbsp;&nbsp; <label>:</label> &nbsp;
                                    <%=data.ShoeMart[i].pselling %><br><br>
                                    <label>New Price</label>&nbsp;&nbsp;&nbsp; <label>:</label> &nbsp;
                                    <input type="text" placeholder="Price" name="pselling" value=<%=data.ShoeMart
                                    [i].pselling%>><br><br>
                                    <input type="submit" value="submit">
                                    <a href="/" class="cancel"><input type="button" value="cancel"></a>
                                </form>    
                              </div>
                            </div>
                        <% break;}%>
                    <% } %>   
                      </div>
                  
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>

                </div>
            </section>
            <!-- /.content -->
          </div>




    </div>
    <!-- ./wrapper -->
    
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>